#nasa-tlx .track {
    background-image: url(https://github.com/sir27/qualtrics-tlx/blob/main/tlx-scale.jpg?raw=true);
    background-size: 770px 80px !important;
    background-repeat: no-repeat;
    height: 80px !important;
}

#nasa-tlx .handle {
    top: 15px !important;
}

#nasa-tlx .slider-container {
    height: 200px;
}
